.morpher-popup.popover,
.morpher-popup .popover {
    max-width: none;
    min-width: 150px;
    color: #333333;
}

.morpher-popup.popover:not(.show),
.morpher-popup .popover:not(.show) {
    opacity: 0;
}

.morpher-popup .link {
    color: #0052cc;
}

.morpher-popup .lemma {
    font-weight: bold;
    margin-right: 2ex;
}

.morpher-popup .stressed {
    color: indianred;
}

.morpher-popup table {
    border-collapse: collapse;
    width: 100%;
}

.morpher-popup table + table {
    margin-top: 2ex;
}

.morpher-popup td, .morpher-popup th {
    border: 1px solid rgb(223, 192, 163);
    padding-left: 1ex;
    padding-right: 1ex;
    color: rgb(46, 46, 46);
    vertical-align: middle;

    /* See: https://stackoverflow.com/a/3542470/18106457 */
    height: 1px;
}

.morpher-popup th {
    text-align: left;
    border: 1px solid rgb(167, 129, 95);
    color: rgb(116, 80, 48);
    background-color: rgb(246, 226, 205);
}

.morpher-popup tbody th {
    background-color: rgb(251, 245, 238);
}

.morpher-popup .composed {
    padding: 0;
}

.morpher-popup .value-group {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.morpher-popup .value {
    padding-left: 1ex;
    padding-right: 1ex;
    width: 100%;
    min-height: 24px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.morpher-popup .value.highlighted {
    box-shadow: inset 0 0 0 2px rgb(98 204 98);
}

.morpher-popup .value + .value {
    border-top: 1px solid rgb(223, 192, 163);
}

.morpher-popup .accordion {
    overflow-anchor: none;
}

.morpher-popup .accordion-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.morpher-popup .accordion > .accordion-item {
    overflow: hidden;
}

.morpher-popup .accordion > .accordion-item:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.morpher-popup .accordion > .accordion-item:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.morpher-popup .collapse:not(.show) {
    display: none;
}

.morpher-popup .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.morpher-popup .accordion-header {
    padding: 0.5ex 0.5ex;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.morpher-popup .accordion-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.morpher-popup .accordion > .accordion-item > .accordion-header {
    display: flex;
    border-radius: 0;
    margin-bottom: -1px;
}

.morpher-popup .accordion-button {
    display: flex;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 1px 6px;
    cursor: pointer;
    color: inherit;
}

.morpher-popup .popover-header:last-child {
    border-bottom-left-radius: calc(0.3rem - 1px);
    border-bottom-right-radius: calc(0.3rem - 1px);
}

.morpher-popup .text-info {
    padding: 0.5ex 2ex;
}

.morpher-popup .fade,
.morpher-popup.fade {
    transition: opacity .15s linear;
}

.morpher-popup [hidden] {
    display: none;
}

.morpher-popup .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    width: 100%;
    box-sizing: border-box;
}

/**
 * ==============================================
 * Dot Carousel
 * ==============================================
 */
.morpher-popup .dot-carousel {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #cccccc;
    color: #cccccc;
    box-shadow: 9984px 0 0 0 #cccccc, 9999px 0 0 0 #cccccc, 10014px 0 0 0 #cccccc;
    -webkit-animation: dot-carousel 1.5s infinite linear;
    animation: dot-carousel 1.5s infinite linear;
}

@-webkit-keyframes dot-carousel {
    0% {
        box-shadow: 9984px 0 0 -1px #cccccc, 9999px 0 0 1px #cccccc, 10014px 0 0 -1px #cccccc;
    }
    50% {
        box-shadow: 10014px 0 0 -1px #cccccc, 9984px 0 0 -1px #cccccc, 9999px 0 0 1px #cccccc;
    }
    100% {
        box-shadow: 9999px 0 0 1px #cccccc, 10014px 0 0 -1px #cccccc, 9984px 0 0 -1px #cccccc;
    }
}

@keyframes dot-carousel {
    0% {
        box-shadow: 9984px 0 0 -1px #cccccc, 9999px 0 0 1px #cccccc, 10014px 0 0 -1px #cccccc;
    }
    50% {
        box-shadow: 10014px 0 0 -1px #cccccc, 9984px 0 0 -1px #cccccc, 9999px 0 0 1px #cccccc;
    }
    100% {
        box-shadow: 9999px 0 0 1px #cccccc, 10014px 0 0 -1px #cccccc, 9984px 0 0 -1px #cccccc;
    }
}
