.morpher-popup.popover {
    max-width: none;
}

.morpher-popup .lemma {
    font-weight: bold;
    margin-right: 2ex;
}

.morpher-popup .stressed {
    color: indianred;
}

.morpher-popup .table {
    border-collapse: collapse;
    width: 100%;
}

.morpher-popup .table__cell {
    border: 1px solid rgb(223, 192, 163);
    padding-left: 1ex;
    padding-right: 1ex;
    color: rgb(46, 46, 46);
}

.morpher-popup .table__cell_head {
    text-align: left;
    border: 1px solid rgb(167, 129, 95);
    color: rgb(116, 80, 48);
    background-color: rgb(246, 226, 205);
}

.morpher-popup .table__body .table__cell_head {
    background-color: rgb(251, 245, 238);
}

.morpher-popup .cell__value_highlighted {
    border: 3px solid rgb(98, 204, 98);
}

.morpher-popup .cell_composed {
    padding: 0;
}

.morpher-popup .cell__value {
    padding-left: 1ex;
    padding-right: 1ex;
}

.morpher-popup .cell__value + .cell__value {
    border-top: 1px solid rgb(223, 192, 163);
}

.morpher-popup .accordion {
    overflow-anchor: none;
}

.morpher-popup .accordion-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.morpher-popup .accordion>.accordion-item {
    overflow: hidden;
}

.morpher-popup .accordion>.accordion-item:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.morpher-popup .accordion>.accordion-item:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.morpher-popup .collapse:not(.show) {
    display: none;
}

.morpher-popup .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.morpher-popup .accordion-header {
    padding: 0.5ex 0.5ex;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.morpher-popup .accordion-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.morpher-popup .accordion>.accordion-item>.accordion-header {
    border-radius: 0;
    margin-bottom: -1px;
}

.morpher-popup .accordion-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.morpher-popup .accordion-button:hover {
    text-decoration: underline;
}